<%- include ("./partials/top",{name:name}); %>

<div class="container viewPage">
    <h1 class="text-white">Search Results are!</h1>
    <div class="row">
      <% movieData["Search"].forEach(function(movie) { %>
      <div
        class="card px-2 py-2 text-white bg-primary"
        style="
          width: 20rem;
          margin-bottom: 10px;
          margin-left: 10px;
          margin-right: 10px;
        "
      >
        <img class="card-img-top" src="<%=movie.Poster%>" alt="Image Not Found" />
        <div class="card-body">
          <h5 class="card-title"><%=movie["Title"]%></h5>
          <p class="card-text">Released on <%=movie["Year"]%></p>
          <a href="/dashboard/result/<%=movie["imdbID"]%>" class="btn btn-primary">Know More</a>
        </div>
      </div>
      <% }) %>
    </div>
  </div>